doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles/styles.css")
        title 캐치 마인드
    body 
        div.loginBox#jsLogin
            input(placeholder="닉네임을 정해주세요", type="text")
        div.gameContainer#jsGame
            h1 로그인 되어있습니다.
        script(src="/socket.io/socket.io.js")
        script(src="/js/main.js")